# API Configuration
# NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_API_URL=https://baleryon-production.up.railway.app/api



# Google OAuth Configuration (for future implementation)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
